@model Picking_Web.ViewModels.FormImpressoraViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Index.cshtml";
    string userid = ViewBag.userid;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Salvar", "Impressoras"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "Por favor, corrija os erro(s) abaixo:")
        @Html.HiddenFor(m => m.Impressora.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Impressora.Ativo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Impressora.Ativo)
                    @Html.ValidationMessageFor(model => model.Impressora.Ativo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Impressora.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Impressora.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Impressora.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.Impressora.TipoImpressoraId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Impressora.TipoImpressoraId, new SelectList(Model.TipoImpressoras, "Id", "Descricao"), "Selecione o Tipo de Impressora", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Impressora.TipoImpressoraId, "", new { @class = "text-danger" })
            </div>
        </div>
        

        <div class="form-group">
            @Html.LabelFor(model => model.Impressora.IP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Impressora.IP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Impressora.IP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Impressora.Porta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Impressora.Porta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Impressora.Porta, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Impressora.Localizacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Impressora.Localizacao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Impressora.Localizacao, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar à Lista", "Index")
</div>
@section scripts
{
    <script type="text/javascript">
        InitWS("@userid");
    </script>
}