@using Picking_Web.Models
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Separação  ";
    Layout = "~/Views/Shared/_Picking.cshtml";
    string ControllerName = "picking";
    int empresa = ViewBag.empresa;
    string userid = ViewBag.userid;
}

<div class="container-fluid" style="color:black">

    <div class="row col-12">
        <div class="col-md-7">

            <h2 style="margin-top:13px">@ViewBag.Title</h2>

        </div>
        <div id="lista_picking_docs_pendentes_filter" class=" col-md-5" role="search" style="float: left; width: 40%;">

            <div style="float: left; width: 80%">

                <input style="float: left; width: 100%; max-width: none" type="text" class="form-control" placeholder="Pesquisar Pedido" id="campo_pesquisa">

            </div>
            <div style="float: left; width: 20%;">

                <button type="submit" style="float: left; width: 100%; max-width: none" class="btn btn-primary" id="botao_pesquisa">OK</button>

            </div>

        </div>


    </div>
    <div class="row col-12">

        <div class="col-md-3">

            <div class="card widget-flat">

                <div class="card-body" onclick="javascript:focusseparacaoAbertas();">

                    <h5 class="text-muted fw-normal mt-0" title="Numero de Sepração">Aguardando Separação</h5>

                    <h3 id="qtdseparacao" class="qtdseparacao ">0</h3>

                    <p class="mb-0 text-muted">

                        <i class="mdi mdi-account-multiple "></i>

                        <span class="text-nowrap">Registros</span>

                    </p>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card widget-flat">

                <div class="card-body" onclick="javascript:focusseparacaoFutura()">

                    <h5 class="text-muted fw-normal mt-0" title="Numero de Separação Futura">Separação Futura</h5>

                    <h3 id="qtdseparacaofutura" class="qtdseparacaofutura">0</h3>

                    <p class="mb-0 text-muted">

                        <i class="mdi mdi-cart-plus"></i>

                        @*<span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> 1.08%</span>*@

                        <span class="text-nowrap">Registros</span>

                    </p>

                </div>

            </div>

        </div>


        <div class="col-md-3">


            <div class="card widget-flat">

                <div class="card-body" onclick="javascript:focusseparacaoPendente()">

                    <h5 class="text-muted fw-normal mt-0" title="Numero de Separação Pendente">Separação Pendente</h5>

                    <h3 id="qtdseparacaopendente" class="qtdseparacaopendente">0</h3>

                    <p class="mb-0 text-muted">

                        <i class="mdi mdi-currency-usd "></i>

                        @*<span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> 7.00%</span>*@

                        <span class="text-nowrap">Registros</span>

                    </p>

                </div>

            </div>
        </div>
        <div class="col-md-3">

            <div class="card widget-flat">

                <div class="card-body" onclick="javascript:focusseparacaoOrdens()">

                    <h5 class="text-muted fw-normal mt-0" title="Growth">Ordens e Produções</h5>

                    <h3 id="qtdordenproducao" class="qtdordenproducao">0</h3>

                    <p class="mb-0 text-muted">

                        <i class="mdi mdi-pulse"></i>

                        @*<span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 4.87%</span>*@

                        <span class="text-nowrap">Registros</span>

                    </p>

                </div>

            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-12">

            <div class="card">

                <div class="row">

                    <div class="row">

                        <div class="col-12">

                        </div>

                        <nav class="nav-justified">

                            <div class="nav nav-tabs nav-justified " id="nav-tab" role="tablist">

                                <button class="nav-link active jus" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Aguardando Separação</button>

                                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Separação Futura</button>

                                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Separação Pendente</button>

                                <button class="nav-link" id="nav-separacao-tab" data-bs-toggle="tab" data-bs-target="#nav-separacao" type="button" role="tab" aria-controls="nav-separacao" aria-selected="false">Ordens e Produções</button>

                            </div>

                        </nav>

                    </div>

                </div>

                <div class="card-body">

                    <div>

                        <div class="tab-content" id="nav-tabContent">

                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                                <div class="container separador_tabelas" style="width: 100%; max-width: none">

                                    <h4>Aguardando Separação</h4>

                                    <table id="lista_picking_em_aberto" class="table nowrap" style="width: 100%; max-width: none">

                                        <thead class="" style="width: 100%; max-width: none">

                                            <tr style="text-align:center;zoom:135%;color:black">
                                                <th>Tipo</th>
                                                <th>Nº  Doc</th>
                                                <th>Prioridade</th>
                                                <th>Nome do Cliente</th>
                                                <th>Cidade Entrega</th>
                                                <th>Data de Entrega</th>
                                                <th>Vendedor</th>
                                                <th>Observações</th>
                                                <th>Gerar Lista Picking</th>
                                                @*<th>Gerar Lista</th>*@
                                                <th>Pendente</th>

                                            </tr>

                                        </thead>

                                        <tbody align="center" style="color:black;text-align: center;">
                                        </tbody>

                                    </table>

                                </div>

                            </div>

                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                                <div class="container separador_tabelas" style="width: 100%; max-width: none">

                                    <h4>AGUARDANDO SEPARAÇÃO FUTURA</h4>

                                    <table id="lista_picking_separacao_futura" class="table nowrap" style="width: 100%; max-width: none">
                                        <thead class="" style="width: auto; max-width: none">

                                            <tr style="text-align:center;zoom:135%;color:black">
                                                <th>Tipo</th>
                                                <th>Nº  Doc</th>
                                                <th>Prioridade</th>
                                                <th>Nome do Cliente</th>
                                                <th>Cidade Entrega</th>
                                                <th>Data de Entrega</th>
                                                <th>Vendedor</th>
                                                <th>Observações</th>
                                                <th>Gerar Lista Picking</th>
                                                @*<th>Gerar Lista</th>*@
                                                <th>Pendente</th>
                                            </tr>

                                        </thead>


                                        <tbody align="center" style="color:black;text-align: center;">
                                        </tbody>

                                    </table>

                                </div>

                            </div>

                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

                                <div class="container separador_tabelas" style="width: 100%; max-width: none">

                                    <h4>SEPARAÇÃO PENDENTE</h4>

                                    <div class="col-sm-12" style="width: 100%;">

                                        <table id="lista_picking_docs_pendentes" class="table nowrap " style="width: 100%; max-width: none">

                                            <thead class="" style="width: auto; max-width: none">

                                                <tr style="text-align:center;zoom:135%;color:black">

                                                    <th>Tipo</th>
                                                    <th>Nº  Doc</th>
                                                    <th>Prioridade</th>
                                                    <th>Nome do Cliente</th>
                                                    <th>Cidade Entrega</th>
                                                    <th>Data de Entrega</th>
                                                    <th>Vendedor</th>
                                                    <th>Observações</th>
                                                    <th>Gerar Lista Picking</th>
                                                    @*<th>Gerar Lista</th>*@
                                                    <th>Desimpedir</th>

                                                </tr>

                                            </thead>


                                            <tbody align="center" style="color:black;text-align:center">
                                            </tbody>

                                        </table>

                                    </div>

                                </div>

                            </div>

                            <div class="tab-pane fade" id="nav-separacao" role="tabpanel" aria-labelledby="nav-separacao-tab">

                                <div class="container " style="width: 100%; max-width: none">

                                    <h4>TRANSFERÊNCIAS E ORDENS DE PRODUÇÕES</h4>

                                    <table id="lista_picking_transferencias" class="table nowrap" style="width:100%">
                                        <thead class="" style="width: auto; max-width: none">

                                            <tr style="text-align:center;zoom:150%;color:black">

                                                <th>Tipo</th>
                                                <th>Nº  Doc</th>
                                                <th>Prioridade</th>
                                                <th>Nome do Cliente</th>
                                                <th>Cidade Entrega</th>
                                                <th>Data de Entrega</th>
                                                <th>Vendedor</th>
                                                <th>Observações</th>

                                            </tr>

                                        </thead>


                                        <tbody align="center" style="color: black; text-align: center;">
                                        </tbody>

                                    </table>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

@Html.Partial("DetalheListaPickingParcial")
@Html.Partial("DetalheListaPicking")
<input type="hidden" value="@ViewBag.NomeImpressora" id="nome_impressora" />
@section scripts
{
    <script type="text/javascript">
        var DefaultApiPath = '@(Url.Action("", "api/" + ControllerName))';
        InitWS("@userid");

        function focusseparacaoAbertas() {
            $('.nav-link').removeClass('active');
            $('.fade').removeClass('show active');
            $('#nav-home-tab').addClass('active');
            $('#nav-home').addClass('show active');
        }

        function focusseparacaoFutura() {
            $('.nav-link').removeClass('active');
            $('.fade').removeClass('show active');
            $('#nav-profile-tab').addClass('active');
            $('#nav-profile').addClass('show active');
        }

        function focusseparacaoPendente() {
            $('.nav-link').removeClass('active');
            $('.fade').removeClass('show active');
            $('#nav-contact-tab').addClass('active');
            $('#nav-contact').addClass('show active');
        }

        function focusseparacaoOrdens() {
            $('.nav-link').removeClass('active');
            $('.fade').removeClass('show active');
            $('#nav-separacao-tab').addClass('active');
            $('#nav-separacao').addClass('show active');
        }

    </script>
    <script id="script_lista_picking" src="~/Scripts/Site/ListaPicking.js" data-empresa="@empresa"></script>
}

