@using Picking_Web.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<Picking_Web.Models.Empresa>
@{
    ViewBag.Title = "Empresas";
    Layout = "~/Views/Shared/_Index.cshtml";
    string ControllerName = "empresas";
    string userid = ViewBag.userid;
}
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Dashboards</li>
                        <li class="breadcrumb-item active">Área Administrativa</li>
                        <li class="breadcrumb-item active">Empresas</li>
                    </ol>
                </div>
                <br />
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-5">



                        </div>
                        <div class="col-sm-7">
                            <div class="text-sm-end">
                                <button type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#ModalRegister">
                                    Nova Empresa
                                </button>
                            </div>
                        </div>
                        @Html.Partial("FormEmpresa")
                        <!-- end col-->
                    </div>

                    <table id="empresas" class="table table-centered w-100 dt-responsive nowrap">
                        <thead class="table-light">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nome)

                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Ativo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Licenciado)
                                </th>
                                <th style="width:auto">
                                    @Html.DisplayNameFor(model => model.InstanciaBanco)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NomeBanco)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UsuarioBanco)
                                </th>
                                <th>
                                    Deletar
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
            var DefaultApiPath = '@(Url.Action("", "api/" + ControllerName))';
            var DefaultPath = '@(Url.Action("", "" + ControllerName))';
            InitWS("@userid");
    </script>
    <script src="~/Scripts/Site/Empresas.js"></script>
}
