@using Picking_Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Picking Web";
}
<img src="https://static.wixstatic.com/media/7883e7_819e6bd6ebf44729a274117bb94ed379~mv2_d_2846_1234_s_2.png/v1/crop/x_0,y_125,w_2846,h_1015/fill/w_161,h_60,al_c,usm_0.66_1.00_0.01,enc_auto/logo_Prancheta_1_c%C3%B3pia.png" />

<div class="row justify-content-center">

    <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0" id="loginForm">
            <br />
            <h2 class="text-center" style="color:whitesmoke">@ViewBag.Title</h2>
            <br />

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "signin-form" }))
            {
                <div>

                    @Html.AntiForgeryToken()
                    <h4 class="text-center" style="color: whitesmoke">Faça Login para acessar o Sistema de Logística.</h4>
                    @*<hr />*@
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="text-center form-group">
                        @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Login" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="text-center form-group">
                        @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 text-center control-label" })*@
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Senha" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                    </div>
                    <div class="text-center form-group">

                        <input type="submit" value="Entrar" class="btn btn-default" />

                    </div>

                    <p style="color: whitesmoke" class="text-center">
                        @Html.ActionLink("Esqueceu a senha?", "ForgotPassword")
                    </p>

                </div>


            }
        </div>
    </div>
</div>
<div style="margin-top: 280px ; color:whitesmoke">

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
