@using Picking_Web.Models
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Usuários";
    Layout = "~/Views/Shared/_Administracao.cshtml";
    string ControllerName = "usuarios";
    string userid = ViewBag.userid;
}


<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">

                </div>
                <br />
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-5">
                        </div>
                        <div class="col-sm-7">
                            <div class="text-sm-end">
                                <button type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#ModalRegister">
                                    Novo Usuário
                                </button>
                            </div>
                        </div><!-- end col-->
                    </div>
                    <!-- Modal -->
                    @Html.Partial("NovoUsuario")
                    <div>
                        <table class="table table-centered w-100 dt-responsive nowrap" id="usuarios">
                            <thead class="table-light">
                                <tr>
                                    <th>Nome</th>
                                    <th>E-mail</th>
                                    <th>Ativo?</th>
                                    <th>Licenciado?</th>
                                    <th>Operador?</th>
                                    <th>Deletar</th>
                                </tr>
                            </thead>
                            <tbody> </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var DefaultApiPath = '@(Url.Action("", "api/" + ControllerName))';
        var DefaultPath = '@(Url.Action("", "" + ControllerName))';
        var CarregarUsuarios = function () {
            var opts = "<option>Selecione o Usuário SAP</option>";
            var select_empresa = $('#select_empresa');
            var select_usuario = $('#select_usuario');
            var empresa_id = select_empresa.val();

            if (empresa_id) {
                $.ajax({
                    url: DefaultApiPath + "/getusuariossap?empresa_id=" + empresa_id,
                    method: "GET",
                    beforeSend: function() {
                        select_usuario.html("<option>Carregando...</option>");
                    },
                    success: function(data) {
                        for (var i = 0; i < data.length; i++) {
                            opts += "<option value='" + data[i]["id"] + "'>" + data[i]["nome"] + "</option>";
                        }
                        select_usuario.html(opts);
                    },
                    error: _DEFAULT_ERROR_TREATMENT
                });
            }
            select_usuario.html(opts);
        };
        InitWS("@userid");

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

        });

    </script>


    <script src="~/Scripts/Site/Usuarios.js"></script>
}
