@model Picking_Web.Models.RegisterViewModel
<!-- Modal -->
<!-- App favicon -->

<div class="modal fade" id="ModalRegister" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modaLLabel">Novo Usuário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" >

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.HiddenFor(model => model.Id)
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="row">
                        <div class="col-md-8">
                            <h4>
                                Dados Gerais
                            </h4>
                            <hr />

                            <div class="form-group">
                                @Html.LabelFor(model => model.QuantidadeLicencas, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.QuantidadeLicencas, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.QuantidadeLicencas, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Ativo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.Ativo)
                                        @Html.ValidationMessageFor(model => model.Ativo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Licenciado, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.Licenciado)
                                        @Html.ValidationMessageFor(model => model.Licenciado, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Operador, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.Operador)
                                        @Html.ValidationMessageFor(model => model.Operador, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @if (Model != null)
                            {


                                <div class="form-group">
                                    @Html.LabelFor(model => model.EmpresaId, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(m => m.EmpresaId, new SelectList(Model.Empresas, "Id", "Nome"), "Selecione a Empresa", new { @class = "form-control", id = "select_empresa", onchange = "CarregarUsuarios();" })
                                        @Html.ValidationMessageFor(model => model.EmpresaId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.UsuariosSAPId, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(m => m.UsuariosSAPId, new SelectList(Model.UsuariosSAP, "Id", "Nome"), "Selecione o Usuário SAP", new { @class = "form-control", id = "select_usuario" })
                                        @Html.ValidationMessageFor(model => model.UsuariosSAPId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @if (Model != null)
                            {

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @if (String.IsNullOrEmpty(Model.Id))
                                        {
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        }
                                        else
                                        {
                                            <input type="password" class="form-control" data-toggle="tooltip" data-trigger="click" data-placement="right" title="Opicional em caso de edição." />
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @if (String.IsNullOrEmpty(Model.Id))
                                        {
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        }
                                        else
                                        {
                                            <input type="password" class="form-control" data-toggle="tooltip" data-trigger="click" data-placement="right" title="Opicional em caso de edição." />
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-md-4">
                            <div>
                                <h4>
                                    Permissões
                                </h4>
                                <hr />
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.PodeGerenciarAdmin) Pode acessar Área Administrativa
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.PodeGerenciarListaPicking) Pode realizar Separação
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.PodeConferirCodigoBarras) Pode realizar Conferência
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.PodeGerenciarEtiqueta) Pode gerenciar Embalagens
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.PodeGerenciarRecebimento) Pode realizar Recebimento
                                    </label>
                                </div>
                                @*<div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.PodeGerenciarDocumentos) Pode Gerenciar Documentos
                        </label>
                    </div>*@
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.PodeGerenciarBaixa) Pode Gerenciar Baixa
                                    </label>
                                </div>
                            </div>

                        </div>



                    </div>
                    <div class="form-group">
                        <div class="col-md-offset col-md modal-footer">
                            <input type="submit" value="Salvar" class="btn btn-primary" />
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
                }

            </div>
        
        </div>
    </div>

    <script src="~/Scripts/Site/Globals.js"></script>
</div>
