@using Picking_Web.Models
@{
    ViewBag.Title = "RECEBIMENTO";
    Layout = "~/Views/Shared/_Index.cshtml";
    string ControllerName = "recebimento";
    int empresa = ViewBag.empresa;
    string userid = ViewBag.userid;
}

<h2>@ViewBag.Title</h2>

<div class="row" style=" width: 100%; margin-top: 30px;">
    <div style="float:left;width:25%" class="col-xs-2">
        <label for="numnota">Número do Recebimento</label>
        <input type="text" class="form-control" id="numnota">
    </div>



    <div style="float:left;width:25%" class="col-xs-4">
        <label for="itemcode">Código Item</label>
        <select class="form-control chosen" id="itemcode" style="max-width: none">
            <option value="">Selecione o Item</option>
            @{
                var itens = ViewBag.Itens as List<ItemSAP>;
                foreach (var item in itens)
                {
                    <option value="@item.ItemCode">@item.ItemCode - @item.ItemName</option>
                }
            }
        </select>
    </div>

    <div style="float:left;width:25%" class="col-xs-2">
        <label for="numlote">Lote Interno</label>
        <select class="form-control" id="numlote" style="max-width: none">
            <option value="">Selecione o Lote</option>
        </select>
    </div>




    <div style="float:left;width:25%" class="col-xs-2">
        <label for="codbarras">Cod. Barras Fabricante</label>
        <input type="text" class="form-control" id="codbarras">
    </div>

</div>
<hr />

<div class="row" style="margin-top: 50px; margin-left: 0px; margin-right: 0px;">
    <table id="itens_recebimento" class="table table-centered w-100 dt-responsive nowrap">
        <thead>
            <tr class="table-light">
                <th>Marcar</th>
                <th>Item</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Und Medida</th>
                <th>Lote</th>
                <th>Cod. Barras</th>
                <th>Vencimento</th>
                <th>Armazenagem</th>
                <th>Depósito</th>
                <!--<th>Remover</th>-->
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div style=" width: 100%; margin-top: 30px; " class="row ">
    <div style="float:left;width:10%" class="col-xs-4">
        <button class="btn btn-primary btn-block" type="submit" id="imprimir" data-loading-text="Aguarde...">Imprimir</button>
    </div>
    <div style="float:left;width:8%" class="col-xs-4">
        <button class="btn btn-warning btn-block" type="submit" id="reset" data-loading-text="Aguarde..." data-toggle="tooltip" data-placement="top" title="Reseta apenas os itens">Reset</button>
    </div>
    <div style="float:left;width:15%" class="col-xs-4">
        <button class="btn btn-danger btn-block" type="submit" id="cancelar" data-loading-text="Aguarde..." data-toggle="tooltip" data-placement="top" title="Reseta toda a tela">Cancelar</button>
    </div>
</div>

<input type="hidden" value="@ViewBag.NomeImpressoraAmbiente" id="nome_impressora_ambiente" />
<input type="hidden" value="@ViewBag.NomeImpressoraGeladeira" id="nome_impressora_geladeira" />
@section scripts
{
    <script type="text/javascript">
        var DefaultApiPath = '@(Url.Action("", "api/" + ControllerName))';
        InitWS("@userid");
        $(document).ready(function () {

      
            $("#itemcode").chosen();



          

          
           

           
            
           

            var DesenhaTabelaItens = function () {

                var html = "";

                for (var i = 1; i <= dataset_itens.length; i++) {
                    var curr_dataset = dataset_itens[i - 1];
                    var ambiente_upper = curr_dataset["ambiente"].toUpperCase();
                    var nome_ambiente = ambiente_upper === "A" ? "AMBIENTE" : (ambiente_upper === "G" ? "GELADEIRA" : "--");

                    // sempre que desenha, adiciona o index dinamicamente
                    dataset_itens[i - 1]["_index_"] = i;

                    html +=
                        "<tr id='tr" + curr_dataset["_index_"] + "'> " +
                        "   <td><input type='checkbox' checked='checked' id='check'></td> " +
                        "   <td>" + curr_dataset["itemCode"] + "</td> " +
                        "   <td>" + curr_dataset["itemName"] + "</td> " +
                        "   <td> <input id='qtd' type='number' value='" + curr_dataset["quantidade"] + "' style='max-width:55px;' min='1' /></td> " +
                        "   <td>" + curr_dataset["unidadeMedida"] + "</td> " +
                        "   <td>" + curr_dataset["numLote"] + "</td> " +
                        "   <td>" + curr_dataset["codBarras"] + "</td> " +
                        "   <td>" + curr_dataset["dataVenc"] + "</td> " +
                        "   <td>" + nome_ambiente + "</td> " +
                        "   <td>" + curr_dataset["deposito"] + "</td> " +
                        /* "   <td align='center'> " +
                        "       <button data-index='" + i + "' type='button' class='btn btn-danger js-remover-item'> " +
                        "           <span class='glyphicon glyphicon-trash'></span>&nbsp; " +
                        "       </button> " +
                        "   </td> " + */
                        "</tr>";
                }

                $('#itens_recebimento tbody').html(html);
            }
          

           
        });
    </script>
    <script id="script_recebimentos" src="~/Scripts/Site/Recebimento.js" data-empresa="@empresa"></script>
}