<!DOCTYPE html>
<html>
@using Picking_Web.Models
@using Picking_Web.ViewModels
@using Microsoft.AspNet.Identity
@model IndexViewModel
@{
    string pode_ver_licenca = User.Identity.GetUserId() == Privilegios.AdminUserID ? "" : "display:none;";
    string pode_ver_lista_picking = User.IsInRole(Privilegios.PodeGerenciarListaPicking) ? "" : "display:none;";
    string pode_ver_conferencia = User.IsInRole(Privilegios.PodeConferirCodigoBarras) ? "" : "display:none;";
    string pode_ver_embalagens = User.IsInRole(Privilegios.PodeGerenciarEtiqueta) ? "" : "display:none;";
}
<head>
    <meta charset="utf-8" />
    <title>Picking Web Ramo Bh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Sistema Logico Pincking Web" name="description" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Imagens/LogoHeader.png" height="3">
    <link href="~/Content/bootstrap/assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- App css -->
    <link href="~/Content/bootstrap/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap/assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style" />
    <link href="~/Content/bootstrap/assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" />
    <link href="~/Content/bootstrap/assets/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap/assets/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css" />

    @Scripts.Render("~Scripts/toastr.js")


</head>

<body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":true,"darkMode":false, "showRightSidebarOnStart": true}'>

    <div class="wrapper">
        <div class="leftside-menu">

            <!-- LOGO -->
            <a href="" class="logo text-center logo-light">
                <span class="logo-lg">
                    <img src="~/Imagens/sap_logo.png" height="40">
                </span>
                <span class="logo-sm">
                    <img src="~/Imagens/sap_logo.png" alt="" height="20">
                </span>
            </a>
            <!-- LOGO -->
            <a href="" class="logo text-center logo-dark">
                <span class="logo-lg">
                    <img src="~/Imagens/sap_logo.png" alt="" height="20">
                </span>
                <span class="logo-sm">
                    <img src="~/Imagens/sap_logo.png" alt="" height="30">

                </span>
            </a>

            <div class="h-100" id="leftside-menu-container" data-simplebar>
                <!--- Sidemenu -->


                <ul class="side-nav">

                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarDashboards" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                            <i> <img src="~/Imagens/recebimento.png" height="20" /></i>
                            <span>Modulos</span>
                        </a>
                        <div class="collapse" id="sidebarDashboards">
                            <ul class="side-nav-second-level">
                                <li>  @Html.ActionLink("Dashboards", "Index", "Home") </li>
                                <li style="@pode_ver_lista_picking">@Html.ActionLink("Separação", "Index", "Picking")</li>
                                <li style="@pode_ver_conferencia">@Html.ActionLink("Conferência", "Index", "CodigoBarras")</li>
                                <li style="@pode_ver_embalagens">@Html.ActionLink("Embalagem", "Index", "Etiquetas")</li>
                                <li>@Html.ActionLink("Acompanhamento Picking", "Acompanhamento", "Picking")</li>
                                <li>@Html.ActionLink("Etiquetas de Recebimento", "Index", "Recebimento")</li>
                                <li>@Html.ActionLink("Reimpressão de Etiquetas", "Reimpressao", "Recebimento")</li>
                                <li>@Html.ActionLink("Baixa", "Index", "Baixa")</li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="side-nav">
                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebarAdministrativa" aria-expanded="false" aria-controls="sidebarAdministrativa" class="side-nav-link">
                            <i> <img src="~/Imagens/admin.png" height="20" /></i>
                            <span>Configuração</span>
                        </a>
                        <div class="collapse" id="sidebarAdministrativa">
                            <ul class="side-nav-second-level">
                                <li>@Html.ActionLink("Usuários", "Index", "Usuarios")</li>
                                <li>@Html.ActionLink("Empresas", "Index", "Empresas")</li>
                                <li>@Html.ActionLink("Gestao de Impressões", "Index", "GestaoImpressoes")</li>
                                <li>@Html.ActionLink("Gestao de Etiquetas", "Index", "GestaoEtiquetas")</li>
                                <li style="@pode_ver_licenca">@Html.ActionLink("Licença", "Index", "Licenca")</li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <!-- End Sidebar -->
            </div>
        </div>

        <div class="content-page">
            <div class="content">
                <div class="navbar-custom">

                    <ul class="list-unstyled topbar-menu float-end mb-0">

                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <i class="dripicons-bell noti-icon"></i>
                                <span class="noti-icon-badge"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated dropdown-lg">

                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h5 class="m-0">
                                        <span class="float-end">
                                            <a href="javascript: void(0);" class="text-dark">
                                                <small>Limpa Tudo</small>
                                            </a>
                                        </span>Notifição
                                    </h5>
                                </div>

                                <div style="max-height: 230px;" data-simplebar>
                                    <!-- item-->
                                    @*<a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon bg-primary">
                                                <i class="mdi mdi-comment-account-outline"></i>
                                            </div>
                                            <p class="notify-details">
                                                Caleb Flakelar commented on Admin
                                                <small class="text-muted">1 min ago</small>
                                            </p>
                                        </a>*@

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        @*<div class="notify-icon bg-info">
                                                <i class="mdi mdi-account-plus"></i>
                                            </div>
                                            <p class="notify-details">
                                                New user registered.
                                                <small class="text-muted">5 hours ago</small>
                                            </p>*@
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        @*<div class="notify-icon">
                                                <img src="assets/images/users/avatar-2.jpg" class="img-fluid rounded-circle" alt="" />
                                            </div>
                                            <p class="notify-details">Cristina Pride</p>
                                            <p class="text-muted mb-0 user-msg">
                                                <small>Hi, How are you? What about our next meeting</small>
                                            </p>*@
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        @*<div class="notify-icon bg-primary">
                                                <i class="mdi mdi-comment-account-outline"></i>
                                            </div>
                                            <p class="notify-details">
                                                Caleb Flakelar commented on Admin
                                                <small class="text-muted">4 days ago</small>
                                            </p>*@
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        @*<div class="notify-icon">
                                                <img src="assets/images/users/avatar-4.jpg" class="img-fluid rounded-circle" alt="" />
                                            </div>
                                            <p class="notify-details">Karen Robinson</p>
                                            <p class="text-muted mb-0 user-msg">
                                                <small>Wow ! this admin looks good and awesome design</small>
                                            </p>*@
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        @*<div class="notify-icon bg-info">
                                                <i class="mdi mdi-heart"></i>
                                            </div>
                                            <p class="notify-details">
                                                Carlos Crouch liked
                                                <b>Admin</b>
                                                <small class="text-muted">13 days ago</small>
                                            </p>*@
                                    </a>
                                </div>



                            </div>
                        </li>
                        @if (User.IsInRole(Privilegios.PodeGerenciarAdmin))
                        {
                            <li class="notification-list">
                                <a class="nav-link end-bar-toggle" href="javascript: void(0);">
                                    <i class="dripicons-gear noti-icon"></i>
                                </a>
                            </li>
                        }


                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                               aria-expanded="false">
                                <span class="account-user-avatar">
                                    <img src="~/Content/bootstrap/assets/images/users/avatar-1.jpg" alt="user-image" class="rounded-circle">
                                </span>
                                <span>
                                    <span class="account-user-name">@Html.Label(User.Identity.Name)</span>


                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                                <!-- item-->
                                <div class=" dropdown-header noti-title">
                                    <h6 class="text-overflow m-0" style="color: black">Bem vindo !</h6>
                                </div>

                                <!-- item-->
                                @*<a class="dropdown-item notify-item">
                                        <i>
                                            @Html.ActionLink(" Configuração", "Index", "Manage", new { style = "color:black;text-decoration:none", @class = "mdi mdi-account-edit me-1" })
                                        </i>
                                    </a>*@

                                <!-- item-->
                                <div class="dropdown-item notify-item mdi mdi-account-edit me-1">
                                    <a>
                                        @*@Html.ActionLink("Configuração", "Index", "Manage", new { style = "color:black;text-decoration:none" })*@
                                        @Html.ActionLink("Configuração", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Gerenciar", @style = "color:black;text-decoration:none" })

                                    </a>
                                </div>

                                <a href="https://ramobh.movidesk.com/Account/Login?ReturnUrl=%2f" class="dropdown-item notify-item">
                                    <i class="mdi mdi-lifebuoy me-1"></i>
                                    <span style="color: black">Suporte</span>
                                </a>

                                <!-- item-->
                                <a onclick="toggleFullScreen();" class="dropdown-item notify-item">
                                    <i class="mdi mdi-arrow-expand-all me-1"></i>
                                    <span style="color: black">Expandir Tela</span>
                                </a>

                                <!-- item-->
                                <a href="javascript:_SairdoSistema();" class="dropdown-item notify-item">
                                    <i class="mdi mdi-logout me-1"></i>
                                    <span style="color: black">Sair</span>
                                </a>

                            </div>
                        </li>

                    </ul>
                    <button class="button-menu-mobile open-left">
                        <i class="mdi mdi-menu"></i>
                    </button>
                </div>
                @RenderBody()

            </div>
        </div>

    </div>
    <div class="end-bar">
        <div class="rightbar-title">
            <a href="javascript:void(0);" class="end-bar-toggle float-end">
                <i class="dripicons-cross noti-icon"></i>
            </a>
            <h5 class="m-0">Configurações</h5>
        </div>
        <div class="rightbar-content h-100" data-simplebar>
            <div class="p-3">
                <div class="alert alert-warning" role="alert">
                    <strong>Customize </strong> the overall color scheme, sidebar menu, etc.
                </div>

                <!-- Configurações -->
                <h5 class="mt-3">Color Scheme</h5>
                <hr class="mt-1" />

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="color-scheme-mode" value="light" id="light-mode-check" checked>
                    <label class="form-check-label" for="light-mode-check">Modo Claro</label>
                </div>

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="color-scheme-mode" value="dark" id="dark-mode-check">
                    <label class="form-check-label" for="dark-mode-check">Modo Escuros</label>
                </div>


                <!-- Width -->
                <h5 class="mt-4">Width</h5>
                <hr class="mt-1" />
                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="width" value="fluid" id="fluid-check" checked>
                    <label class="form-check-label" for="fluid-check">Fluid</label>
                </div>

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="width" value="boxed" id="boxed-check">
                    <label class="form-check-label" for="boxed-check">Boxed</label>
                </div>


                <!-- Left Sidebar-->
                <h5 class="mt-4">Left Sidebar</h5>
                <hr class="mt-1" />
                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="theme" value="default" id="default-check">
                    <label class="form-check-label" for="default-check">Default</label>
                </div>

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="theme" value="light" id="light-check" checked>
                    <label class="form-check-label" for="light-check">Light</label>
                </div>

                <div class="form-check form-switch mb-3">
                    <input class="form-check-input" type="checkbox" name="theme" value="dark" id="dark-check">
                    <label class="form-check-label" for="dark-check">Dark</label>
                </div>

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="compact" value="fixed" id="fixed-check" checked>
                    <label class="form-check-label" for="fixed-check">Fixed</label>
                </div>

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="compact" value="condensed" id="condensed-check">
                    <label class="form-check-label" for="condensed-check">Condensed</label>
                </div>

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="compact" value="scrollable" id="scrollable-check">
                    <label class="form-check-label" for="scrollable-check">Scrollable</label>
                </div>

                <div class="d-grid mt-4">
                    <button class="btn btn-primary" id="resetBtn">Reset to Default</button>
                </div>
            </div> <!-- end padding-->

        </div>
    </div>

    <div class="rightbar-overlay"></div>

    <script type="text/javascript">
        var DefaultScriptPath = '@Url.Action("","Scripts")';
    </script>
    <script src="~/Content/bootstrap/assets/js/vendor.min.js"></script>
    <script src="~/Content/bootstrap/assets/js/app.min.js"></script>
    <script src="~/Content/bootstrap/assets/js/vendor/apexcharts.min.js"></script>
    <script src="~/Content/bootstrap/assets/js/vendor/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Content/bootstrap/assets/js/vendor/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Content/bootstrap/assets/js/pages/dashboard.js"></script>

    <script src="~/Content/bootstrap/assets/js/vendor/jquery.dataTables.min.js"></script>
    <script src="~/Content/bootstrap/assets/js/vendor/dataTables.bootstrap5.js"></script>
    <script src="~/Content/bootstrap/assets/js/vendor/dataTables.responsive.min.js"></script>
    <script src="~/Content/bootstrap/assets/js/vendor/responsive.bootstrap5.min.js"></script>

    <!-- Datatable Init js -->
    <script src="~/Content/bootstrap/assets/js/pages/demo.datatable-init.js"></script>
    <script src="~/Scripts/Site/Globals.js"></script>
    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)

</body>
</html>